@import url(https://fonts.googleapis.com/css?family=Dosis);
*{
  margin: 0;
  padding: 0;
}

header{
  position: relative;
  margin-top: 0px;
  width: 100%;
    z-index: 1000;

}

nav{
   font-family: "Dosis",sans-serif !important;

}

nav ul{
  list-style: none;


}

nav > ul {
  display: table;
  overflow: hidden;
  width: 100%;
  background-color:black;
  position: relative;
}

nav > ul li {

    display:table-cell;
    
}
 nav > ul li a{

   color: white;
   font-size: 18px;
   display: block;
   line-height: 20px;
   padding: 15px;
   position: relative;
   text-align: center;
   text-decoration: none;

   -webkit-transition: all .5s ease-in-out;
   -moz-transition: all .5s ease-in-out;
   -ms-transition: all .5s ease-in-out;
   -o-transition: all .5s ease-in-out;
   transition: all .5s ease-in-out;
 }

nav > ul > li a span{

    background-color: white;
  display: block;
  height:100%;
  width:100%;
  left:0;
  position: absolute;
  top: 60px;


  -webkit-transition: all .3s ease-out;
-moz-transition: all .3s ease-out;
-ms-transition: all .3s ease-out;
-o-transition: all .3s ease-out;
transition: all .3s ease-out;

}

nav > ul > li a span .icon{

display: block;
line-height: 50px;
font-size: 20px;
color: rgba(51,51,51,1);
-webkit-transition: all .5s ease-in-out;
-moz-transition: all .5s ease-in-out;
-ms-transition: all .5s ease-in-out;
-o-transition: all .5s ease-in-out;
transition: all .5s ease-in-out;

}

nav > ul > li > a:hover > span{
  top: 0;
}

 
#bg { 
    position: fixed; 
    top: 0;
    left: 0;
}
.menu-salir{
    text-align: center; 
}

.boton-salir{
    background: white -moz-linear-gradient(top, rgba(255,255,255,0), rgba(255,255,255,0)) !important;
    text-shadow: none !important;
       font-family: "Dosis",sans-serif !important;
       -webkit-transition: all .5s ease-in-out;
-moz-transition: all .5s ease-in-out;
-ms-transition: all .5s ease-in-out;
-o-transition: all .5s ease-in-out;
transition: all .5s ease-in-out;
}

.boton-salir:hover{
    -webkit-box-shadow:  none !important;
    -moz-box-shadow:  none !important;
    box-shadow:  none !important;
    border:1px solid #99cc00 !important;
    background: #99cc00 -moz-linear-gradient(top, rgba(255,255,255,0), rgba(255,255,255,0)) !important;
    color: white;
}