@import url(https://fonts.googleapis.com/css?family=Dosis);
@import url(https://fonts.googleapis.com/css?family=Glegoo);
*{
    margin: 0;
    padding: 0;
}
.a1{
    height: 9.5vh;
}

#iframe-custom{
    width: 100%;
    height: 90vh;
}
.tblmatricula{
   width: 90% !important ;
margin: 0 auto !important;
}

.login{
    position: relative;
    margin: 0 auto;
    width: 100%;
}
.texto{
    font-family: "Dosis",sans-serif !important;
    height: 30px;
    width: 250px;
     background-color: white !important ;
    text-align: center;
    border-radius: 0;
}

.texto2{
    font-family: "Dosis",sans-serif !important;
    height: 40px;
    width: 100%;
     background-color: white !important ;
    border: 1px solid #333333;
    text-align: center;
}
.texto:valid{
    box-shadow: none !important;
}
.texto:focus{
   border: 1px solid #009999;
}
.panel-login{
    display: block;
   background-color:rgba(51,51,51,.9) ;
   height: 100px !important;
    margin:30% auto 0 auto;
  float: left;
 width:60%;
}
.panel-login tbody{
    display: block;
    margin-left: 10px;
    margin-top: 10px;
}

.title-login{
    display: block;
    background-color:  rgba(0,153,153,.6);
    margin:30% auto 0 auto;
    float: left;
    width: 40% !important;
    height: 100px;
}


.label-text-login{
 color: white;     
 font-family: "Dosis",sans-serif !important;
 font-size:  25px;
margin: 5% 0px 0px 5% !important;
display: block;

}

.label-text-login2{
 color: white;     
 font-family: "Dosis",sans-serif !important;
 font-size: 15px;
text-align: justify;
margin: -5% 0px 0px 5% !important;
display: block;
padding-right: 20px;

}

.boton{
    display: table-cell;
    position: relative;
}
.logo-login{
    font-size:  60px;
    color: white;
    margin-left: 20%;
margin-top: 30%;
display: block;
}

.logo-boton{
color: white;
position: absolute;
display: block;
left: 30px;
z-index: 100;
float: left;
margin-top: 15px;
}

.boton-ingresar{
    background: #333333 -moz-linear-gradient(top, rgba(255,255,255,0), rgba(255,255,255,0)) !important;
      background: #333333 -webkit-linear-gradient(top, rgba(255,255,255,0), rgba(255,255,255,0)) !important;
    text-shadow: none !important;
    font-weight: normal;
    font-family: "Dosis",sans-serif !important;
    box-shadow: inset 0px 1px 0px rgba(0,0,0,0) !important;
    -webkit-transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -ms-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
    color: white !important;
    width: 200px;
    height: 50px;
    float: left;
}

.signup{
      margin:0 auto ;
      padding: 100px;
       border-radius: 5px;
}
 



.boton-ingresar:hover{
    -webkit-box-shadow:  none !important;
    -moz-box-shadow:  none !important;
    box-shadow:  none !important;
    border:1px solid #009999 !important;
    background: #009999 -moz-linear-gradient(top, rgba(255,255,255,0), rgba(255,255,255,0)) !important;
    background: #009999  -webkit-linear-gradient(top, rgba(255,255,255,0), rgba(255,255,255,0)) !important;
    color: white;
}
.link-regsitrar{
    text-decoration: none; 
    font-family: "Dosis",sans-serif !important ;
    color: #009999;
}


 
 
.registro{
     position: relative;
    margin: 0 auto;
}

.registro-menu{
    margin: 0 auto ;
    width: 100%;
}
.imagen-reg{
    height: 100%;
    width: 100%;
}
.btn-img{
  font-family: "Dosis",sans-serif !important;
  font-weight:  normal;
     background: rgba(0,0,0,5) -moz-linear-gradient(top, rgba(255,255,255,0), rgba(255,255,255,0)) !important;
      background: rgba(0,0,0,5) -webkit-linear-gradient(top, rgba(255,255,255,0), rgba(255,255,255,0)) !important;
     
    top: -60%;
     box-shadow: inset 0px 1px 0px rgba(0,0,0,0) !important;
     border:1px solid rgba(255,255,255,1) !important;
     font-size:22px !important ;
     color:rgba(255,255,255,1);
     border-radius: 0;
     text-shadow: none !important;
     -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -ms-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
 
}

.btn-img:hover{
     font-size:23px !important ;
     border:1px solid #009999 !important ; 
     color:  #009999;
}
 
.btn-sucursal{
   background: rgba(0,0,0,0) -moz-linear-gradient(top, rgba(255,255,255,0), rgba(255,255,255,0)) !important;
   background: rgba(0,0,0,0) -webkit-linear-gradient(top, rgba(255,255,255,0), rgba(255,255,255,0)) !important;
    border:1px solid rgba(255,255,255,0) !important;
       color:rgba(255,255,255,1);
     text-shadow: none !important;
       box-shadow: inset 0px 1px 0px rgba(0,0,0,0) !important;
         font-family: "Dosis",sans-serif !important;
  font-weight:  normal;
}

.btn-sucursal:hover{
 
       color:#009999  !important;
 
}

 
.boton-login{
    background: #009999 -moz-linear-gradient(top, rgba(255,255,255,0), rgba(255,255,255,0)) !important;
      background: #009999 -webkit-linear-gradient(top, rgba(255,255,255,0), rgba(255,255,255,0)) !important;
    text-shadow: none !important;
    font-family: "Dosis",sans-serif !important;
    font-weight:  normal;
    box-shadow: inset 0px 1px 0px rgba(0,0,0,0) !important;
    color: white !important;
    height: 40px;
     border: 1px solid white;
     font-size:  15px;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -ms-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
  
}

.boton-login:hover{
    border: 1px solid #009999;
    color: white !important;
    
}
.texto-login{
        width: 150px;
        height: 30px;
        background-color: white !important ;
        color: #333333;
        padding: 5px 10px 5px 40px !important;
        text-shadow: none;
        -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}

.texto-login:focus{
       width: 170px;
}
.label-login{
     font-family: "Dosis",sans-serif !important;
     text-shadow:  none !important;
     font-weight:  normal !important ;
     margin-left: 5px;
    color: white;
}

.label-app{
     font-family: "Dosis",sans-serif !important;
     text-shadow:  none !important;
     font-weight:  normal !important ;
     margin-left: 5px;
    color: black;
    float:left;
}

.icono-login{
 position: absolute;
color: #333333;
font-size: 25px;
margin: 10px 10px;
}





.c0{
    width: 70px;
}

.lista-sucursales{
        font-family: "Dosis",sans-serif !important;
}
[id="menu:listasucursales"] thead {
    display:none;
}
[id="menu:listasucursales2"] thead {
    display:none;
}

.nota-alumno thead {
        display:none;
    }
.nota-alumno{
        width: 100%;
    }


.dialog-session .ui-shadow{
    box-shadow: 0px 5px 10px rgba(0,0,0,0) !important;
}






div.dialog-sucursal .ui-shadow{
    box-shadow: 0px 5px 10px rgba(0,0,0,0) !important;
}

div.dialog-sucursal .ui-widget-header{
    background: white -moz-linear-gradient(top, rgba(255,255,255,0), rgba(255,255,255,0)) !important;
     background: white -webkit-linear-gradient(top, rgba(255,255,255,0), rgba(255,255,255,0)) !important;
color: white;
text-shadow: none;
font-weight: normal;
   font-family: "Dosis",sans-serif !important;

}

div.dialog-sucursal .btn-dialog{
     background: #ffffff -moz-linear-gradient(top, rgba(255,255,255,0), rgba(255,255,255,0)) !important;
     background: #ffffff -webkit-linear-gradient(top, rgba(255,255,255,0), rgba(255,255,255,0)) !important;
    text-shadow: none !important;
    box-shadow: inset 0px 1px 0px rgba(0,0,0,0) !important;
    height: 50px;
    width: 50px;
    font-family: "Dosis",sans-serif !important;
    font-weight:  normal;
     border: 1px solid #009999;
     border-radius: 0px;
}

div.dialog-sucursal .btn-dialog:hover{
     border: 2px solid #333333;
}

div.dialog-sucursal .ui-datatable-odd {
    background: none repeat scroll 0 0 #FFF !important;
}

div.dialog-sucursal .ui-widget-content{
    border: 0px solid #ffffff !important;
    text-align: center;
}

.ui-widget-overlay{
  background: #ffffff !important;
opacity: 1 !important;
}



.dialog-allnotas .ui-shadow{
    box-shadow: 0px 5px 10px rgba(0,0,0,0) !important;
}

 .dialog-allnotas .ui-state-default{
background: #ffffff -moz-linear-gradient(top, rgba(255,255,255,0), rgba(255,255,255,0))  ;
background: #ffffff -webkit-linear-gradient(top, rgba(255,255,255,0), rgba(255,255,255,0))  ;
}

 .dialog-allnotas .ui-widget-header{
    background: white -moz-linear-gradient(top, rgba(255,255,255,0), rgba(255,255,255,0)) !important;
    background: white -webkit-linear-gradient(top, rgba(255,255,255,0), rgba(255,255,255,0)) !important;
color: black;
text-shadow: none;
font-weight: normal;
font-family: "Dosis",sans-serif !important;
border-bottom: 1px solid black !important;

}

 .dialog-allnotas .ui-widget-content{
    border: 0px solid white ;
}





.list-box{
    width: 400px !important;
}
div.list-box .ui-selectlistbox-listcontainer{
    height: 30px !important; 
}
.list-box2{
    width: 200px !important;
}
div.list-box2 .ui-selectlistbox-listcontainer{
    height: 50px !important; 
}

.matricula{
    padding: 40px;
}

.matricula .ui-selectonemenu{
    width: auto !important;
}

.matricula .ui-inputfield {
    box-shadow: inset 0 2px 2px rgba(0,0,0,0) !important;
    width: 300px !important;
     font-family: "Dosis",sans-serif !important;
     text-align: center !important;
}

.matricula .ui-selectlistbox-filter.ui-inputfield{
    width: auto !important;
}

.matricula .ui-icon-search,.registrar .ui-icon-search {
    margin-right: 40px;
}

.matricula  .ui-shadow{
    box-shadow: 0px 5px 10px rgba(0,0,0,0) !important;
}

.matricula  .ui-state-default{
background: #ffffff -moz-linear-gradient(top, rgba(255,255,255,0), rgba(255,255,255,0))  ;
background: #ffffff -webkit-linear-gradient(top, rgba(255,255,255,0), rgba(255,255,255,0))  ;
}

.matricula  .ui-state-hover,.ui-state-focus {
    box-shadow: 0 0 0 rgba(0,0,0,0) !important;
}

.listanotas .ui-column-filter {
    background-color: white !important;
    width: 100px !important;
}










.dialog-academico  .ui-paginator-next,.dialog-academico .ui-paginator-last,.dialog-academico .ui-paginator-prev,.dialog-academico .ui-paginator-first {
    height: 19px !important;
    overflow: hidden;
}
 


.dialog-academico .ui-inputfield {
    box-shadow: inset 0 2px 2px rgba(0,0,0,0) !important;
     font-family: "Dosis",sans-serif !important;
     text-align: center !important;
}

.dialog-academico .ui-selectlistbox-filter.ui-inputfield{
    width: auto !important;
}

.dialog-academico .ui-selectonemenu{
    width: auto !important;
}

.dialog-academico .ui-icon-search {
    margin-right: 40px;
}

.dialog-academico .ui-widget-header{
    background: white -moz-linear-gradient(top, rgba(255,255,255,0), rgba(255,255,255,0)) !important;
    background: white -webkit-linear-gradient(top, rgba(255,255,255,0), rgba(255,255,255,0)) !important;
color: black;
text-shadow: none;
font-weight: normal;
font-family: "Dosis",sans-serif !important;
border-bottom: 1px solid black !important;

}


.dialog-academico .ui-widget-content{
    border: 0px solid white ;
}

.inputs .ui-widget-content{
    border: 1px solid #a8a8a8  !important;
}




.carreras  .ui-inputfield {
    box-shadow: inset 0 2px 2px rgba(0,0,0,0) !important;
     font-family: "Dosis",sans-serif !important;
     text-align: center !important;
     background-color: white !important;
     color: #333333 !important;
     width: auto !important;

}
.cursos  .ui-inputfield, .curso-profesor  .ui-inputfield, .listanotas  .ui-inputfield,.evaluacion .ui-inputfield,.turno .ui-inputfield, .secciones .ui-inputfield {
    box-shadow: inset 0 2px 2px rgba(0,0,0,0) !important;
     font-family: "Dosis",sans-serif !important;
     text-align: center !important;
     background-color: white !important;
     color: #333333 !important;
    width: 90% !important;
    
}

.cursos .ui-widget-header,.curso-profesor .ui-widget-header,.listanotas  .ui-widget-header ,.evaluacion .ui-widget-header,.turno .ui-widget-header,.secciones .ui-widget-header,.asignar-evaluacion .ui-widget-header,.carreras .ui-widget-header,.actividades .ui-widget-header{
border-bottom: 0px solid black !important;

}

.cursos .ui-selectonemenu,.curso-profesor .ui-selectonemenu, .sucursal  .ui-selectonemenu,.userxsucu .ui-selectonemenu, .actividades .ui-selectonemenu,.asignar-evaluacion .ui-selectonemenu{
  display: block   !important;  
}

 .actividades .ui-inputfield  {
    box-shadow: inset 0 2px 2px rgba(0,0,0,0) !important;
     font-family: "Dosis",sans-serif !important;
     text-align: center !important;
     background-color: white !important;
     color: #333333 !important;
     width: 90% !important;

}

.asignar-evaluacion .ui-inputfield  {
    box-shadow: inset 0 2px 2px rgba(0,0,0,0) !important;
     font-family: "Dosis",sans-serif !important;
     text-align: center !important;
     background-color: white !important;
     color: #333333 !important;
     width:90% !important;
}
 
 
 

.inputs .ui-inputfield {
    box-shadow: inset 0 2px 2px rgba(0,0,0,0) !important;
    width: 250px !important;
     font-family: "Dosis",sans-serif !important;
     text-align: center !important;
}

.carreras .ui-widget-content , .cursos .ui-widget-content , .curso-profesor .ui-widget-content , .evaluacion  .ui-widget-content,
.actividades  .ui-widget-content, .asignar-evaluacion  .ui-widget-content,  .turno  .ui-widget-content,  .secciones  .ui-widget-content{
    border-top: 1px solid #bdbdbd !important;
    border-bottom: 1px solid #bdbdbd !important;
    border-left: 1px solid #bdbdbd !important;
border-right: 1px solid #bdbdbd !important;
}
 

.dialog-academico  .ui-datatable-odd {
    background: none repeat scroll 0 0 white !important;
    border-top: 1px solid black !important;
}

.dialog-academico  .ui-shadow{
    box-shadow: 0px 5px 10px rgba(0,0,0,0) !important;
}

.dialog-academico .ui-state-default{
background: #f6f6f6 -moz-linear-gradient(top, rgba(255,255,255,0), rgba(255,255,255,0))  ;
background: #f6f6f6 -webkit-linear-gradient(top, rgba(255,255,255,0), rgba(255,255,255,0))  ;
text-shadow:  none;

}

.dialog-academico  .btn-dialog{
     background: #ffffff -moz-linear-gradient(top, rgba(255,255,255,0), rgba(255,255,255,0)) !important;
     background: #ffffff -webkit-linear-gradient(top, rgba(255,255,255,0), rgba(255,255,255,0)) !important;
    text-shadow: none !important;
    box-shadow: inset 0px 1px 0px rgba(0,0,0,0) !important;
    height: 50px;
    width: 50px;
    font-family: "Dosis",sans-serif !important;
    font-weight:  normal;
     border: 1px solid #009999;
     border-radius: 0px;
  
}

.dialog-academico .btn-dialog:hover{
     border: 2px solid #333333;
}

 
.dialog-academico .ui-selectonemenu{
    width: auto !important;
}

.dialog-academico .ui-selectlistbox-filter.ui-inputfield{
    width: auto !important;
}

.dialog-academico  .ui-state-hover,.ui-state-focus {
    box-shadow: 0 0 0 rgba(0,0,0,0) !important;
}








 .listausers .ui-widget-header,.departamento .ui-widget-header,.provincias .ui-widget-header,.distrito .ui-widget-header,.empresa .ui-widget-header,.sucursal .ui-widget-header,.userxsucu .ui-widget-header{
border-bottom: 0px solid black !important;

}
.registrar  .ui-paginator-next,.registrar .ui-paginator-last,.registrar .ui-paginator-prev,.registrar .ui-paginator-first {
    height: 19px !important;
    overflow: hidden;
}
 
.listausers  .ui-paginator-next,.listausers .ui-paginator-last,.listausers .ui-paginator-prev,.listausers .ui-paginator-first {
    height: 19px !important;
    overflow: hidden;
}


div.registrar .ui-selectonemenu{
    width: auto !important;
}

div.registrar .ui-inputfield {
    box-shadow: inset 0 2px 2px rgba(0,0,0,0) !important;
     font-family: "Dosis",sans-serif !important;
     text-align: center !important;
}
div.registrar .ui-selectlistbox-filter.ui-inputfield{
    width: auto !important;
}


div.registrar  .ui-shadow{
    box-shadow: 0px 5px 10px rgba(0,0,0,0) !important;
}

div.registrar .ui-state-default{
background: #f6f6f6 -moz-linear-gradient(top, rgba(255,255,255,0), rgba(255,255,255,0))  ;
background: #f6f6f6 -webkit-linear-gradient(top, rgba(255,255,255,0), rgba(255,255,255,0))  ;
text-shadow:  none;

}

div.registrar .ui-state-hover,.ui-state-focus {
    box-shadow: 0 0 0 rgba(0,0,0,0) !important;
}

.departamento .ui-widget-content, .provincias .ui-widget-content, .distrito .ui-widget-content, .empresa .ui-widget-content,  .sucursal .ui-widget-content,  .userxsucu .ui-widget-content{
    border-top: 1px solid #bdbdbd !important;
    border-bottom: 1px solid #bdbdbd !important;
    border-left: 1px solid #bdbdbd !important;
border-right: 1px solid #bdbdbd !important;
    text-align: center;
 
}

div.registrar  .ui-widget-content{
    border: 0px solid white ;
}

div.registrar  .ui-datatable-odd {
    background: none repeat scroll 0 0 white !important;
    border-top: 1px solid black !important;
}


div.registrar .ui-widget-header{
    background: white -moz-linear-gradient(top, rgba(255,255,255,0), rgba(255,255,255,0)) !important;
     background: white -webkit-linear-gradient(top, rgba(255,255,255,0), rgba(255,255,255,0)) !important;
color: black;
text-shadow: none;
font-weight: normal;
font-family: "Dosis",sans-serif !important;
border-bottom: 1px solid black;

}

.departamento  .ui-inputfield, .provincias  .ui-inputfield, .distrito .ui-inputfield,.empresa .ui-inputfield, .sucursal .ui-inputfield,  .userxsucu .ui-inputfield {
    box-shadow: inset 0 2px 2px rgba(0,0,0,0) !important;
     font-family: "Dosis",sans-serif !important;
     text-align: center !important;
     background-color: white !important;
     color: #333333 !important;
    width: 90% !important;
}

 .sucursal .ui-inputfield {
    box-shadow: inset 0 2px 2px rgba(0,0,0,0) !important;
     font-family: "Dosis",sans-serif !important;
     text-align: center !important;
     background-color: white !important;
     color: #333333 !important;
    width: 90% !important;
}


div.registrar .btn-dialog{
     background: #ffffff -moz-linear-gradient(top, rgba(255,255,255,0), rgba(255,255,255,0)) !important;
     background: #ffffff -webkit-linear-gradient(top, rgba(255,255,255,0), rgba(255,255,255,0)) !important;
    text-shadow: none !important;
    box-shadow: inset 0px 1px 0px rgba(0,0,0,0) !important;
    height: 50px;
    width: 50px;
    font-family: "Dosis",sans-serif !important;
    font-weight:  normal;
     border: 1px solid #009999;
     border-radius: 0px;
}

div.registrar .btn-dialog:hover{
     border: 2px solid #333333;
}

 





.notas2 .ui-selectonemenu{
    width: auto !important;
}

.notas2 .ui-inputfield {
    box-shadow: inset 0 2px 2px rgba(0,0,0,0) !important;
    width: 300px !important;
     font-family: "Dosis",sans-serif !important;
     text-align: center !important;
}
.notas2 .ui-selectlistbox-filter.ui-inputfield{
    width: auto !important;
}

 .notas2 .ui-state-default{
background:  white -moz-linear-gradient(top, rgba(255,255,255,0), rgba(255,255,255,0))  ;
background:  white -webkit-linear-gradient(top, rgba(255,255,255,0), rgba(255,255,255,0))  ;
text-shadow:  none;

}


.notas  .ui-shadow{
    box-shadow: 0px 5px 10px rgba(0,0,0,0) !important;
}

.notas .ui-state-default{
background: #f6f6f6 -moz-linear-gradient(top, rgba(255,255,255,0), rgba(255,255,255,0))  ;
background: #f6f6f6 -webkit-linear-gradient(top, rgba(255,255,255,0), rgba(255,255,255,0))  ;
text-shadow:  none;

}

.notas, .notas2  .ui-state-hover,.ui-state-focus {
    box-shadow: 0 0 0 rgba(0,0,0,0) !important;
}



 
 
.notas .ui-widget-header{
    background: white -moz-linear-gradient(top, rgba(255,255,255,0), rgba(255,255,255,0)) !important;
     background: white -webkit-linear-gradient(top, rgba(255,255,255,0), rgba(255,255,255,0)) !important;
color: black;
text-shadow: none;
font-weight: normal;
font-family: "Dosis",sans-serif !important;
border-bottom: 1px solid black;

}
.notas .ui-widget-content{
    border: 0px solid white ;
}

.notas  .ui-inputfield {
    box-shadow: inset 0 2px 2px rgba(0,0,0,0) !important;
     font-family: "Dosis",sans-serif !important;
     text-align: center !important;
     background-color: white !important;
     color: #333333 !important;
     width: auto !important;

}
.notas .ui-widget-content{
    border-top: 1px solid #bdbdbd !important;
    border-bottom: 1px solid #bdbdbd !important;
       border-left: 1px solid #bdbdbd !important;
border-right: 1px solid #bdbdbd !important;
    text-align: center;
 
}
.notas  .ui-datatable-odd {
    background: none repeat scroll 0 0 white !important;
    border-top: 1px solid black !important;
}


.dialog-notas .ui-widget-content{
    border-top: 1px solid #bdbdbd !important;
    border-bottom: 1px solid #bdbdbd !important;
    border: 2px solid #ffffff !important;
    text-align: center;
}

.ui-datatable thead th{
    color: black !important;
    font-weight:  normal;
 
    padding-bottom: 10px;
padding-top: 10px;
}

 
 
 
.dialog-notas .ui-widget-header{
    background: white -moz-linear-gradient(top, rgba(255,255,255,0), rgba(255,255,255,0)) !important;
      background: white -webkit-linear-gradient(top, rgba(255,255,255,0), rgba(255,255,255,0)) !important;
color: black;
text-shadow: none;
font-weight: normal;
font-family: "Dosis",sans-serif !important;
border-bottom: 1px solid black;

}
.dialog-notas .ui-widget-content{
    border: 0px solid white ;
    
}

.dialog-notas  .ui-inputfield {
    box-shadow: inset 0 2px 2px rgba(0,0,0,0) !important;
     font-family: "Dosis",sans-serif !important;
     text-align: center !important;
     background-color: white !important;
     color: #333333 !important;
     width: auto !important;

}
.listanotas .ui-widget-content{
    border-top: 1px solid #bdbdbd !important;
    border-bottom: 1px solid #bdbdbd !important;
        border-left: 1px solid #bdbdbd !important;
border-right: 1px solid #bdbdbd !important;
    text-align: center;
        font-weight:  normal;
 
}
.dialog-notas  .ui-datatable-odd {
    background: none repeat scroll 0 0 white !important;
    border-top: 1px solid black !important;
}

.dialog-notas  .ui-shadow{
    box-shadow: 0px 5px 10px rgba(0,0,0,0) !important;
}

.dialog-notas .ui-state-default{
background: #f6f6f6 -moz-linear-gradient(top, rgba(255,255,255,0), rgba(255,255,255,0)) ;
background: #f6f6f6 -webkit-linear-gradient(top, rgba(255,255,255,0), rgba(255,255,255,0))  ;
text-shadow:  none;

}
.dialog-notas  .ui-state-hover,.ui-state-focus {
    box-shadow: 0 0 0 rgba(0,0,0,0) !important;
}

.notas  .btn-dialog{
     background: #ffffff -moz-linear-gradient(top, rgba(255,255,255,0), rgba(255,255,255,0)) !important;
      background: #ffffff -webkit-linear-gradient(top, rgba(255,255,255,0), rgba(255,255,255,0)) !important;
    text-shadow: none !important;
    box-shadow: inset 0px 1px 0px rgba(0,0,0,0) !important;
    height: 50px;
    width: 100px;
    font-family: "Dosis",sans-serif !important;
    font-weight:  normal;
     border: 1px solid #009999;
     border-radius: 0px;
}
.notas .btn-dialog:hover{
     border: 2px solid #333333;
}

 
.nota-alumno  .btn-dialog{
     background: #ffffff -moz-linear-gradient(top, rgba(255,255,255,0), rgba(255,255,255,0)) !important;
      background: #ffffff -webkit-linear-gradient(top, rgba(255,255,255,0), rgba(255,255,255,0)) !important;
    text-shadow: none !important;
    box-shadow: inset 0px 1px 0px rgba(0,0,0,0) !important;
    height: 50px;
    width: 100px;
    font-family: "Dosis",sans-serif !important;
    font-weight:  normal;
     border: 1px solid #009999;
     border-radius: 0px;
}

.nota-alumno .btn-dialog:hover{
     border: 2px solid #333333;
}














div.dialog-alumno .ui-selectonemenu{
    width: auto !important;
}

div.dialog-alumno .ui-shadow{
    box-shadow: 0px 5px 10px rgba(0,0,0,0) !important;
}

div.dialog-alumno .ui-widget-header{
    background: white -moz-linear-gradient(top, rgba(255,255,255,0), rgba(255,255,255,0)) !important;
    background: white -webkit-linear-gradient(top, rgba(255,255,255,0), rgba(255,255,255,0)) !important;
color: black;
text-shadow: none;
font-weight: normal;
   font-family: "Dosis",sans-serif !important;
   border-bottom: 1px solid black;
}

div.dialog-alumno .ui-widget-content{
    border: 0px solid #ffffff !important;
}

div.dialog-alumno .ui-state-default{
background: #ffffff -moz-linear-gradient(top, rgba(255,255,255,0), rgba(255,255,255,0))  ;
background: #ffffff -webkit-linear-gradient(top, rgba(255,255,255,0), rgba(255,255,255,0))  ;

}
div.dialog-alumno .ui-state-hover,.ui-state-focus {
    box-shadow: 0 0 0 rgba(0,0,0,0) !important;
}
.ui-widget{
     font-family: "Dosis",sans-serif !important;
} 

div.dialog-alumno .ui-inputfield {
    box-shadow: inset 0 2px 2px rgba(0,0,0,0) !important;
    width: 250px !important;
     font-family: "Dosis",sans-serif !important;
     text-align: center !important;
}

 div.ui-selectonemenu-list-item{
    font-family: "Dosis",sans-serif !important;
}












 
div.dialog-gestion-alumnos .ui-inputfield {
    box-shadow: inset 0 2px 2px rgba(0,0,0,0) !important;
     font-family: "Dosis",sans-serif !important;
     text-align: center !important;
     background-color: white !important;
     color: #333333 !important;
}

div.dialog-gestion-alumnos .ui-inputfield:focus {
   border: 2px solid #009999;
}

div.dialog-gestion-alumnos .btn-dialog{
     background: #ffffff -moz-linear-gradient(top, rgba(255,255,255,0), rgba(255,255,255,0)) !important;
        background: #ffffff -webkit-linear-gradient(top, rgba(255,255,255,0), rgba(255,255,255,0)) !important;
     text-shadow: none !important;
    box-shadow: inset 0px 1px 0px rgba(0,0,0,0) !important;
    height: 50px;
    font-family: "Dosis",sans-serif !important;
    font-weight:  normal;
     border: 1px solid #009999;
     border-radius: 0px;
 
}
div.dialog-gestion-alumnos .ui-state-default{
background: #f6f6f6 -moz-linear-gradient(top, rgba(255,255,255,0), rgba(255,255,255,0))  ;
background: #f6f6f6 -webkit-linear-gradient(top, rgba(255,255,255,0), rgba(255,255,255,0))  ;

text-shadow:  none;

}

div.dialog-gestion-alumnos .btn-dialog:hover{
     border: 2px solid #333333;
}

.ui-datatable tbody td {
    text-align: center;
      border-width: 0 !important;
}
 
div.dialog-gestion-alumnos .ui-state-active{
background: white -moz-linear-gradient(top, rgba(255,255,255,0), rgba(255,255,255,0));
background: white -webkit-linear-gradient(top, rgba(255,255,255,0), rgba(255,255,255,0));
}

div.dialog-gestion-alumnos .ui-radiobutton .ui-radiobutton-box{
    border-radius: 0px !important;
}

div.dialog-gestion-alumnos  .ui-shadow{
    box-shadow: 0px 5px 10px rgba(0,0,0,0) !important;
}

div.dialog-gestion-alumnos .ui-widget-header{
    background: white -moz-linear-gradient(top, rgba(255,255,255,0), rgba(255,255,255,0)) !important;
    background: white -webkit-linear-gradient(top, rgba(255,255,255,0), rgba(255,255,255,0)) !important;

    color: black;
text-shadow: none;
font-weight: normal;
font-family: "Dosis",sans-serif !important;
border-bottom: 1px solid black;

}
div.dialog-gestion-alumnos .ui-widget-content{
    border: 0px solid white ;
}

div.dialog-gestion-alumnos  .ui-datatable-odd {
    background: none repeat scroll 0 0 white !important;
    border-top: 1px solid black !important;
}


.listausers .ui-widget-content{
    border-top: 1px solid #bdbdbd !important;
    border-bottom: 1px solid #bdbdbd !important;
    border-left: 1px solid #bdbdbd !important;
border-right: 1px solid #bdbdbd !important;
    text-align: center;
}

div.dialog-gestion-alumnos .ui-state-hover,.ui-state-focus {
    box-shadow: 0 0 0 rgba(0,0,0,0) !important;
}






 




.ui-dialog-titlebar-close
{
    background-color: white;
}
.ui-dialog-titlebar-close:hover
{
    background-color: white !important;
}









 #pre-load-web {
     width:100%;position:absolute;background:white;left:0px;top:0px;z-index:100000;
 font-family: "Dosis",sans-serif ;
 }
     
   #pre-load-web #imagen-load{
       left:50%;margin-left:-30px;position:absolute
   }


@keyframes moveFromTop {
    from {
        opacity: 0;
        transform: translateX(-200%);
    }
    to {
        opacity: 1;
        transform: translateX(0%);
    }
}
