@import url(https://fonts.googleapis.com/css?family=Dosis);
@import url(https://fonts.googleapis.com/css?family=Jura:300);
.login{
    position: relative;
    margin: 0 auto;
    
}
.texto{
    font-family: "Dosis",sans-serif !important;
    height: 30px;
    text-align: center;
    border: 2px solid #333333;
}
.texto:valid{
    box-shadow: none !important;
}
.texto:focus{
   border: 2px solid #99cc00;
}
.panel-login{
    margin: 20% auto ;
}

.boton-ingresar{
    background: #333333 -moz-linear-gradient(top, rgba(255,255,255,0), rgba(255,255,255,0)) !important;
    text-shadow: none !important;
    font-family: "Dosis",sans-serif !important;
    box-shadow: inset 0px 1px 0px rgba(0,0,0,0) !important;
    -webkit-transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -ms-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
    color: white;
}

.boton-ingresar:hover{
    -webkit-box-shadow:  none !important;
    -moz-box-shadow:  none !important;
    box-shadow:  none !important;
    border:1px solid #99cc00 !important;
    background: #99cc00 -moz-linear-gradient(top, rgba(255,255,255,0), rgba(255,255,255,0)) !important;
    color: white;
}
.link-regsitrar{
    text-decoration: none; 
    font-family: "Dosis",sans-serif !important ;
    color: #99cc00;
}

#iframe-custom{
    width: 100%;
    position: relative;
}

.submenu{
    height: 250px;
    width: 25%;
    background-color: #5f5e5e;
    display: block;
    float: left;
    text-align: center;
}

 
.registro{
     position: relative;
    margin: 0 auto;
}

.registro-menu{
    margin: 0 auto ;
    width: 100%;
}
.imagen-reg{
    height: 100%;
    width: 100%;
}
.btn-img{
font-family: 'Jura', sans-serif;
   padding: 10px !important;
     background: rgba(0,0,0,.3) -moz-linear-gradient(top, rgba(255,255,255,0), rgba(255,255,255,0)) !important;
    top: -60%;
     box-shadow: inset 0px 1px 0px rgba(0,0,0,0) !important;
     border:2px solid rgba(255,255,255,1) !important;
     font-size:20px;
     color:rgba(255,255,255,1);
     text-shadow: none !important;
     -webkit-transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -ms-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;

}

.btn-img:hover{
      background: rgba(0,0,0,.5) -moz-linear-gradient(top, rgba(255,255,255,0), rgba(255,255,255,0)) !important;
        font-size:22px;
}